name: ASNGIASAGF Build

on:
  pull_request:
    types:
      - closed
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - name: Set up JDK 19
          uses: actions/setup-java@v3
          with:
            java-version: '19'
            distribution: 'adopt'

        - name: Build and Test
          run:  make b
